doctype html
head
  title
    | Profile
  meta(name='viewport' content='width=device-width, initial-scale=1')
  include ../includes/links.pug
body
  include ../view/normal_navbar.pug
  block page
  include ../includes/scripts.pug