.calendar {box-sizing: border-box;}
.calendar ul {list-style-type: none;}
.calendar-body {font-family: Verdana, sans-serif;}

.calendar {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 0px;
  margin-left: 0px;
}



.month {
  padding: 25px 25px;
  width: 100%;
  text-align: center;
  background: #337985;

  border-radius: 10px 10px 0px 0px; 


}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weekdays {
  margin: 0;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  background: #419baa;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
}

.days {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 15px;

  background: #222;
  margin: 0;


  border-radius: 0px 0px 10px 10px;
}

.days li{
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:14px;
  color: white;
  padding: 8px;
  border-radius: 2px;
}

.free {
  background: #444;
}

.urgent
{
  background: #D24E5B;
}

.meeting
{
  background: #337985;
}