nav.navbar.navbar-expand-lg.navbar-light.bg-light
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='index.html')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='profile.html') My Profile